DATABASE_URL=postgresql+asyncpg://usuario:password@localhost/foodops_db
DATABASE_SYNC_URL=postgresql://usuario:password@localhost/foodops_db
APP_NAME=FoodOps
APP_ENV=development
DEBUG=true
SECRET_KEY=generar_con_openssl_rand_hex_32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=240
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173
